# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git-repositories\bitcoin-nanodegree-projects\udacity-nd-blockchain-project4-flight-surety\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
